{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
{% load static %}
{% load bootstrap5%}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower%7COverpass+Mono" rel="stylesheet">

<link rel="stylesheet" href="{% static 'registration/login.css' %}">
<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Finstagram-png-transparent%2Finstagram-png-transparent-1.png&imgrefurl=http%3A%2F%2Fclipart-library.com%2Fclip-art%2Finstagram-png-transparent-1.htm&tbnid=RCuSYolKvRjjGM&vet=12ahUKEwiwp6rv8dPzAhVCKewKHWUzCbsQMygZegUIARCQAg..i&docid=swHlKfkr7XZDdM&w=1032&h=1032&q=instagram%20logo&ved=2ahUKEwiwp6rv8dPzAhVCKewKHWUzCbsQMygZegUIARCQAg" />
    </div>
    <div class="l-part">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
  </div>
    <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}