
.header {
    background: white;
    border-bottom: 0.5px solid #ccc;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    padding-bottom:10px;
}


.insta-logo img {
    width: 100px;
    height: auto;
    padding-left: 200px;
    padding-top: 10px;
}

.search-bar{
    margin-left:15%;
}
.search-bar-input{
    margin-top:15px;
}

.icons-data{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-top: 15px;
}

.compass, .heart, .messenger{
    padding-left: 20px;
}

#moon{
    padding: 20px;
}

.nav-bio-image{
    margin-top: -8px;
    margin-left: 10px;
}


.insta-logout{
    padding-top: 7px;
    padding-left: 7px;
}

.nav-bio-image img{
    width: 40px;
    border-radius: 50%;
}

.avatar{
border-radius: 50%;
width:40px;
}





.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}