body{
    background:black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    }
    
    .post-container{
        margin: auto;
        width: 50%;
        margin-top: 100px;
        border: 1px solid gray;
        padding: 10px;
        background-color: white;
        line-height: 2;
    
    }
    
    .btn{
        margin-top:5px;
    }
    
    .edit-header{
        margin: 0 auto;
        width: 50%;
     }