{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% if user.is_authenticated %}

    {% include "insta/nav.html" %}

  <div class="posts-list">
    {% for post in posts %}
    <div class="post">
    <div class="post-header">
      <div class="profile-image">
        {% if not post.author.profile_pic %}
          <a href="/user/{{ post.author.user.username }}"><img class="rounded-circle avatar"  src="{% static 'img/avatar-2.jpg' %}"  alt="{{ post.author.user.username }}" data-holder-rendered="true"></a>
        {% else %}
         <a href="/user/{{ post.author.user.username }}"><img class="rounded-circle avatar"  src="{{ post.author.profile_pic.url }}"  alt="{{ post.author.user.username }}" data-holder-rendered="true"></a>
        {% endif %}
      </div>
      <div class="profile-name">
        <a class="profile-link" href="/user/{{ post.author.user.username }}">{{ post.author.user.username }} </a>
      </div>
   

    </div>
      <hr class="divider">
    <div class="image-post">
        <img style="width: 100%;" src="{{ post.image.url }}" alt="{{ post.caption }}">
    </a>
    </div>
    <div class="comment-section">
      <div>
        <p class="lead ms-3">{{post.caption}}</p>
      </div>
      <div class="comment-container">
      <div class="likes">
        <p>{{ post.likes }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
          <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
        </svg><a href="/like/{{ post.id }}"><i class="fas fa-heart" style="font-size:25px;color:black;color: #ec3c3c;"></i></a>
      </p>
      </div>
      <div class="comment-list">
            {% for comment in post.comments.all|slice:":2" %}
          <p class="comments-username">{{ comment.user.username }}  <span style="font-size: 14px;font-weight:initial" class="comments-description">{{ comment.description }}</span> </p>
            {% endfor %}

      </div>
      <div class="posttime">
        <p class="postedtime" >{{ post.posted_on |naturaltime  }} </p>
      </div>
      </div>
      <div class="comment-area" id="comment-area">

          <form action="/add_comment" method="post">
              {% csrf_token %}
                <input class="description-input" type="text" name="description" placeholder="Add a comment..." />
                <input class="post-input" type="hidden" name="demo" value="{{ post.id }}"/>
                <input class="comment-post" type="submit" value="Post" />
        </form>


      </div>
    </div>
    </div>


      {% endfor %}


  </div>

{% else %}
<div class="home">
  <p>You are not logged into</p>
  <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}