{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div class="header">

    <div class="insta-logo">
      <a href="/"><img src="https://i.imgur.com/zqpwkLQ.png" /></a>
    </div>

    <div class="search-bar">
      <input type="text" class="search-bar-input" placeholder="Search">
    </div>

    <div class="icons-data">

      <div class="home">
        <a href="/"><i class="fa fa-home fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="messenger">
        <a href="#"><i class="fab fa-facebook-messenger fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="heart">
        <a href="#"><i class="fa fa-compass fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="heart">
        <a href="#"><i class="far fa-heart" style="font-size:25px;color:black;"></i></a>
      </div>
      <div>
       
        <button onclick="darkMode()"><i class="fas fa-moon"></i></button>
        <button onclick="lightMode()"><i class="far fa-moon"></i></button>
      </div>



    <div class="dropdown nav-bio-image">
            {% if not bio.dp %}
              <a href="/user/{{ bio.user.username }}"><img class="rounded-circle avatar"  src="{% static 'img/avatar-2.jpg' %}"  alt="{{ bio.user.username }}" data-holder-rendered="true"></a>
            {% else %}
              <a href="/user/{{ bio.user.username }}" ><img class="rounded-circle avatar" src="{{ bio.dp.url }}" alt="{{ bio.user.username }}"  data-holder-rendered="true"></a>
            {% endif %}

          <div class="dropdown-content">
            <a href="/edit/user/{{ user.username }}">My profile</a>
            <a href="/create/post">+ Post</a>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
    </div>




    </div>
  </div>

  <script>
    function darkMode() {
      var element = document.body;
      var content = document.getElementById("DarkModetext");
      element.className = "dark-mode";
      content.innerText = "Dark Mode is ON";
    }
    function lightMode() {
      var element = document.body;
      var content = document.getElementById("DarkModetext");
      element.className = "light-mode";
      content.innerText = "Dark Mode is OFF";
    }
  </script>